@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chấm điểm";
}
@model List<QLDV.Areas.QuanLy.Models.DuyetViewModel>
<div class="container-fluid">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title"> Chấm điểm</h5>
            <div class="table-responsive">
                <table id="zero_config"
                       class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Học Kì
                            </th>
                            <th>
                                Sự kiện
                            </th>
                            <th>
                                Đoàn Viên
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            if (Model != null && Model.Count >= 1)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Id
                                        </td>
                                        <td>
                                            @item.Semester
                                        </td>
                                        <td>
                                            @item.Event
                                        </td>

                                        <td>
                                            @item.User
                                        </td>

                                        <td>
                                            @item.Status
                                        </td>

                                        <td>
                                            @if (item.Status == "Chưa duyệt")
                                            {
                                                <a class="btn btn-outline-success" asp-area="QuanLy" asp-controller="Duyet" asp-action="Edit" asp-route-id="@item.Id">Xem</a>
                                            }
                                            <a class="btn btn-outline-danger" asp-area="QuanLy" asp-controller="Duyet" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>
